@*@model Dashboard_AMS.Models.Department*@
@model IEnumerable<Dashboard_AMS.Models.Department>

@{
    ViewBag.Title = "BranchList";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}
@using (Html.BeginForm("sort", "Department"))
{
<div class="row" style="width: 34%; display:  inline-block; float:  left;">
    <div class="col s12 m8 l12">

        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <select class="form-control" id="abc" name="abc">
                        <option value="Branch_ID">Branch ID</option>
                        <option value="Branch_Name">Branch Name</option>
                    </select>
                    <button class="btn cyan waves-effect waves-light" type="submit">Sort</button>
                </div>
            </div>
        </div>
    </div>
</div>
}
@using (Html.BeginForm("New_Action", "Department"))
{
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <input type="text" placeholder="Search by Branch ID" name="abc" />
                        <button class="btn cyan waves-effect waves-light" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="responsive-table">
    <h4 class="header">Branch Details</h4>
    <div class="row">
        <div class="col s12 m8 l12">
            <div class="card-panel">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th data-field="branch_code">Branch Code</th>
                            <th data-field="branch_name">Branch Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Branch_id</td>
                                <td>@item.Branch_name</td>
                                <td>@Html.ActionLink("Edit", "UpdateBranch", new { Branch_id = item.Branch_id })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


